<div class="game-over-container">
  <lumen-title
    text="Game Over, Luce a dit stop !"
    level="h1"
    description="Plus la moindre miette de Hophophop... Luce s'écroule sur les pavés d'Aix, entre un croissant abandonné et un pigeon goguenard. Même la meilleure des magiciennes a parfois besoin d'une bonne sieste."
  ></lumen-title>

  <lumen-button
    id="back-to-welcome-from-game-over-button"
    text="Retour à l'accueil"
    icon="rewind"
    (clicked)="backToWelcome()"
  ></lumen-button>
</div>
