.step-container {
  backdrop-filter: blur(12px); // L'effet de flou "verre"
  border-radius: 25px;
  padding: 25px;
  margin: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  text-align: center;

  background: #ff930f;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #ff930f, #ffcc33);

  .step-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--lumen-blue); // Ton bleu défini plus tôt
  }

  .step-title {
    font-size: 1.5rem;
    color: #4480d0;
    margin-bottom: 10px;
  }

  .step-description {
    font-weight: bolder;
  }

  .step-gap {
    height: 1.25rem;
  }

  .choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}
