/* You can add global styles to this file, and also import other style files */
@use './app/shared/styles/colors' as colors;

:root {
  --lumen-blue: #{colors.$lumen-blue};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95rem;
}